*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuggles', cursive;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    overflow: hidden;
}

.container{
    width: 246px;
    overflow: hidden;
    
}

.container .text{
    position: relative;
    color: aqua;
    font-size: 30px;
    font-weight: 600;
}

.container .text.first-text{
    color: #fff;

}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    border-left: 2px solid #4070f4;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);   
    }
    100%{
        left: 0%;
    }
}